<div class="mat-elevation-z2">
  <table mat-table [dataSource]="menues" *ngIf="menues.length > 0">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{ 1 }}</td>
    </ng-container>

    <!-- Name image detail Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element">
        <div class="w3-dropdown-hover" style="background:none;">
          {{ element.name }}
          <div class="w3-dropdown-content w3-card-4 w3-dark-gray w3-margin-bottom" style="width:250px;">
            <img [src]="element.imagePath" [alt]="element.name" style="width:100%">
            <div class="w3-container">
              <h5>{{ element.name }}</h5>
              <p>{{ element.detail }}</p>
              <div class="w3-margin-bottom" *ngIf="Authenticated && UserId === element.creator">
              <button mat-button (click)="requireEdit(element.id)" class="w3-text-gray w3-hover-text-green">
                <mat-icon>edit</mat-icon>edit
              </button>
              <button mat-button (click)="onDelete(element.id)" class="w3-right w3-text-gray w3-hover-text-red">
                <mat-icon>delete</mat-icon>delete
              </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- 60min Column -->
    <ng-container matColumnDef="min60">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 60 hour</th>
      <td mat-cell *matCellDef="let element"> {{element.min60}} </td>
    </ng-container>

    <!-- 90min Column -->
    <ng-container matColumnDef="min90">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 90 hour</th>
      <td mat-cell *matCellDef="let element"> {{element.min90}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [length]="totalMenu" [pageSize]="menuPerpage" [pageSizeOptions]="pageSize" (page)="onChangedPage($event)"
    *ngIf="menues.length > 0 "></mat-paginator>
</div>
<p *ngIf="menues.length <= 0" class="mat-body-1 w3-text-gray"> No Menu massage added yet!!</p>
