<div class="w3-content" style="max-width:1000px;">
  <div class="w3-white w3-panel w3-text-teal w3-round" style="height:30px;">
    <marquee direction="right">ยินดีต้อนรับ เข้าสู่ระบบการจองสปา</marquee>
  </div>
  <div class="w3-row-padding">
    <div class="w3-twothird w3-margin-bottom">
      <app-book></app-book>
      <app-menulist></app-menulist>
      <app-postcreate></app-postcreate>
      <div class="w3-content w3-border w3-border-light-gray w3-white w3-margin-top w3-hover-border-blue">
        <div class="w3-container">
          <h2 class="w3-text-grey">Recent Post</h2>
          <hr>
          <h5 class="w3-opacity"><b>พันธกิจ</b></h5>
          <h6 class="w3-text-teal">Jan 2017- <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>การให้บริการแก่ลูกค้าด้วยมาตรฐานและความปลอดภัย บำบัดรักษาสุขภาพด้วยศาสตร์แพทย์แผนไทยประยุกต์และการดูแลสุขภาพทางเลือก ตามข้อกำหนดของกระทรวงสาธารณสุข อย่างมีคุณธรรมและจริยธรรม ส่งเสริมพัฒนาบุคลากรให้มีมาตรฐานและมีความเชี่ยวชาญในการบริการอันจะนำไปสู่ความเป็นเลิศ</p>
        </div>
        <hr>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>กุญแจแห่งความสำเร็จ</b></h5>
          <h6 class="w3-text-teal">Mar 2012 - Dec 2014</h6>
          <p><b class="w3-opacity">1. </b>ความปลอดภัยและความพึงพอใจในการรับบริการของลูกค้า.</p>
          <p><b class="w3-opacity">2. </b>Therapist มีความเชี่ยวชาญด้านการนวดและผ่านมาตรฐานของกระทรวงสาธารณสุข.</p>
          <p><b class="w3-opacity">3. </b>การบริหารจัดการสปาอย่างมืออาชีพ.</p>
          <p><b class="w3-opacity">4. </b>สถานที่สปามีความปลอดภัยและมีความสวยงามทันสมัย.</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-margin-bottom w3-card">
        <div class="w3-display-container">
          <img src="../../assets/image/g.jpg" style="width:100%;" alt="yut">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2 class="w3-opacity">Thitirath</h2></div>
        </div>
        <div class="w3-container">
          <p><span class="w3-text-teal">Story : </span>Thitirath</p>
          <p><span class="w3-text-teal">Open time : </span> 8.00 to 15.00 pm</p>
          <p><span class="w3-text-teal">Email : </span>yut@kkumail.com</p>
          <p><span class="w3-text-teal">Titlel : </span>088-329-4354</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-text-teal w3-center w3-animate-left"><b>พันธกิจ</b></h5>
          <p>การให้บริการแก่ลูกค้าด้วยมาตรฐานและความปลอดภัย บำบัดรักษาสุขภาพด้วยศาสตร์แพทย์แผนไทยประยุกต์และการดูแลสุขภาพทางเลือก ตามข้อกำหนดของกระทรวงสาธารณสุข อย่างมีคุณธรรมและจริยธรรม ส่งเสริมพัฒนาบุคลากรให้มีมาตรฐานและมีความเชี่ยวชาญในการบริการอันจะนำไปสู่ความเป็นเลิศ</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-text-teal w3-center w3-animate-left"><b>กุญแจแห่งความสำเร็จ</b></h5>
          <p><b class="w3-opacity">1. </b>ความปลอดภัยและความพึงพอใจในการรับบริการของลูกค้า.</p>
          <p><b class="w3-opacity">2. </b>Therapist มีความเชี่ยวชาญด้านการนวดและผ่านมาตรฐานของกระทรวงสาธารณสุข.</p>
          <p><b class="w3-opacity">3. </b>การบริหารจัดการสปาอย่างมืออาชีพ.</p>
          <p><b class="w3-opacity">4. </b>สถานที่สปามีความปลอดภัยและมีความสวยงามทันสมัย.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-text-teal w3-center w3-animate-left"><b>“ S P A ”</b></h5>
          <p><b class="w3-opacity">S (Standard)   </b>การให้บริการด้วยมาตรฐานที่ครบถ้วนทุกองค์ประกอบของสปาเพื่อสุขภาพ.</p>
          <p><b class="w3-opacity">P (People)  </b>การให้บริการกลุ่มคนเมืองทุกเพศ ทุกวัย.</p>
          <p><b class="w3-opacity">A (Accommodation) </b>การให้บริการด้วยสิ่งอำนวยความสะดวกที่ครบครัน เพื่อความสะดวกสบาย.</p>
          <hr>
        </div>
      </div>
      <div class="w3-card">
        <div class="w3-container w3-text-white barradiun">
          <h4> นวดแผนไทย</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="../../assets/image/aa.jpg" alt="img1" class="w3-left w3-margin-right w3-round" style="width:50px;height:50px;">
            <span class="w3-large">นวดตัว</span><br>
            <span>นวด ศรีษะ สะบัก บ่า ไหล่ หลัง</span>
          </li>
          <li class="w3-padding-16">
            <img src="../../assets/image/ddd.jpg" alt="img2" class="w3-left w3-margin-right w3-round" style="width:50px;height:50px;">
            <span class="w3-large">นวดเท้า</span><br>
            <span>นวด เท้าประคบ ด้วยออย</span>
          </li>
          <li class="w3-padding-16">
            <img src="../../assets/image/ccc.jpg" alt="img3" class="w3-left w3-margin-right w3-round" style="width:50px;height:50px;">
            <span class="w3-large">คอร์ดสปาพิเศษ</span><br>
            <span>อบตัวด้วยสมุนไพรและมาร์กตัว</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
