<main>
  <div class="w3-margin-top w3-container">
    <mat-card>
      <form (submit)="login(loginid)" #loginid="ngForm">
        <mat-form-field>
          <input matInput ngModel #idemail="ngModel" name="email" type="email" placeholder="E-mail" required idemail>
          <mat-error *ngIf="idemail.invalid">Pease enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput ngModel #idpasswoed="ngModel" name="password" type="password" placeholder="password" required idpassword>
          <mat-error *ngIf="idpasswoed.invalid">Pease enter a valid password</mat-error>
        </mat-form-field>
        <div class="w3-section" class="rightpic">
          <button mat-raised-button color="warn" type="submit">login</button>
        </div>
      </form>
    </mat-card>
  </div>
</main>
