<main>
  <div class="w3-margin-top w3-container">
    <mat-card>
      <form>
        <mat-form-field>
          <input matInput name="email" type="text" placeholder="Firstname" required>
          <mat-error>Pease enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="email" type="text" placeholder="Lastname" required>
          <mat-error>Pease enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="email" type="email" placeholder="E-mail" required email>
          <mat-error>Pease enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="password" type="password" placeholder="password">
          <mat-error>Pease enter a valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Signup</button>
      </form>
    </mat-card>
  </div>
</main>
