<div class="w3-row-padding">
  <div class="w3-container w3-third">
    <mat-card class="w3-margin-top">
      <form [formGroup]="form" (submit)="onsaveMenu()">
        <h4 class="w3-text-grey">Menu Massage</h4>
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="name" placeholder="Name massage">
          <mat-error *ngIf="form.get('name').invalid">Pease enter Name massage</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Amount 60 hour" type="number" formControlName="min60" class="rightpic">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
          <mat-error *ngIf="form.get('min60').invalid">Pease enter Cost 60 min massage</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Amount 90 hour" type="number" formControlName="min90" class="rightpic">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
          <mat-error *ngIf="form.get('min90').invalid">Pease enter Cost 90 min massage</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput formControlName="detail" placeholder="Leave a comment" rows="3"></textarea>
          <mat-error *ngIf="form.get('detail').invalid">Pease enter Detail massage</mat-error>
        </mat-form-field>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
          <img [src]="imagePreview" [alt]="form.value.name">
        </div>
        <button mat-stroked-button type="button" (click)="filePicker.click()" class="w3-text-teal">
          <mat-icon>camera_enhance</mat-icon> Image
        </button>
        <input type="file" #filePicker (change)="onImagePickd($event)">
        <div class="w3-section" class="rightpic">
          <button mat-raised-button type="submit" class="barradiun w3-text-white w3-hover-opacity">
            <mat-icon>save_alt</mat-icon> Save Post
          </button>
        </div>
      </form>
    </mat-card>
  </div>


  <div class="w3-container w3-twothird w3-margin-bottom w3-margin-top">
    <app-menulist></app-menulist>
  </div>
</div>
